body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #92bcee;
}

.container {
    width: 400px;
    background: #70a3c2;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(255, 254, 254, 0.529);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input,
textarea {
    margin: auto;
    width: 95%;
    padding: 10px;
    border: 1px solid #1e5bc4;
    border-radius: 4px;

}

button {
    padding: 20px 20px;
    background: #1a589b;
    color: #f7fafa;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #0056b3;
}

.comment {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
}